@model Nop.Plugin.Misc.SupplierManager.Models.SupplierModel

@{
	//page title
	ViewBag.PageTitle = T("Plugins.Misc.SupplierManager.AddNew").Text;
	Layout = "_AdminLayout";
	//active menu item (system name)
	NopHtml.SetActiveMenuItemSystemName("Suppliers");

	const string hideSupplierInfoBlockAttributeName = "SupplierManagerPage.HideSupplierInfoBlock";
	var customer = await workContext.GetCurrentCustomerAsync();
	var hideSupplierInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSupplierInfoBlockAttributeName);
}

<form asp-controller="SupplierManager" asp-action="Create" method="post">
	<div class="content-header clearfix">
		<h1 class="float-left">
			@T("Plugins.Misc.SupplierManager.AddNew")
			<small>
				<i class="fas fa-arrow-circle-left"></i>
				<a asp-action="List">@T("Plugins.Misc.SupplierManager.BackToList")</a>
			</small>
		</h1>
		<div class="float-right">
			<button type="submit" name="save" class="btn btn-primary">
				<i class="far fa-save"></i>
				@T("Admin.Common.Save")
			</button>
			<button type="submit" name="save-continue" class="btn btn-primary">
				<i class="far fa-save"></i>
				@T("Admin.Common.SaveContinue")
			</button>
		</div>
	</div>

	<div class="content">
		<div class="form-horizontal">
			<nop-cards id="supplier-cards">
				<nop-card asp-name="supplier-info" 
						 asp-icon="fas fa-info" 
						 asp-title="@T("Plugins.Misc.SupplierManager.SupplierInfo")" 
						 asp-hide-block-attribute-name="@hideSupplierInfoBlockAttributeName" 
						 asp-hide="@hideSupplierInfoBlock">
					@await Html.PartialAsync("_CreateOrUpdate", Model)
				</nop-card>
			</nop-cards>
		</div>
	</div>
</form> 