@model SupplierSearchModel

@{
	ViewBag.PageTitle = T("Admin.Suppliers").Text;
	Layout = "_AdminLayout";
	//active menu item (system name)
	NopHtml.SetActiveMenuItemSystemName("Suppliers");

	const string hideSearchBlockAttributeName = "SupplierManagerPage.HideSearchBlock";
	const string hideListBlockAttributeName = "SupplierManagerPage.HideListBlock";
	var customer = await workContext.GetCurrentCustomerAsync();
	var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSearchBlockAttributeName);
	var hideListBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideListBlockAttributeName);
}

<div class="content-header clearfix">
	<h1 class="float-left">
		@T("Admin.Suppliers")
	</h1>
	<div class="float-right">
		<a asp-controller="SupplierManager" asp-action="Create" class="btn btn-primary">
			<i class="fas fa-square-plus"></i>
			@T("Admin.Common.AddNew")
		</a>
	</div>
</div>

<section class="content">
	<div class="container-fluid">
		<div class="form-horizontal">
			<nop-cards id="supplier-cards">
				<nop-card asp-name="supplier-search" asp-icon="fas fa-search" asp-title="@T("Admin.Common.Search")" asp-hide-block-attribute-name="@hideSearchBlockAttributeName" asp-hide="@hideSearchBlock" asp-advanced="true">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<div class="col-md-4">
										<nop-label asp-for="SearchName" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="SearchName" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<div class="col-md-4">
										<nop-label asp-for="SearchEmail" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="SearchEmail" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<div class="col-md-4">
										<nop-label asp-for="SearchPhoneNumber" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="SearchPhoneNumber" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<div class="col-md-4">
										<nop-label asp-for="SearchAddress" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="SearchAddress" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="text-center col-12">
								<button type="button" id="search-suppliers" class="btn btn-primary btn-search">
									<i class="fas fa-magnifying-glass"></i>
									@T("Admin.Common.Search")
								</button>
							</div>
						</div>
					</div>
				</nop-card>

				<nop-card asp-name="supplier-list" asp-icon="fas fa-list" asp-title="@T("Admin.Suppliers")" asp-hide-block-attribute-name="@hideListBlockAttributeName" asp-hide="@hideListBlock">
					<div class="card-body">
						@await Html.PartialAsync("Table", new DataTablesModel
						{
							Name = "suppliers-grid",
							UrlRead = new DataUrl("List", "SupplierManager", null),
							SearchButtonId = "search-suppliers",
							Length = Model.PageSize,
							LengthMenu = Model.AvailablePageSizes,
							Filters = new List<FilterParameter>
							{
								new FilterParameter(nameof(Model.SearchName)),
								new FilterParameter(nameof(Model.SearchEmail)),
								new FilterParameter(nameof(Model.SearchPhoneNumber)),
								new FilterParameter(nameof(Model.SearchAddress))
							},
							ColumnCollection = new List<ColumnProperty>
							{
								new ColumnProperty(nameof(SupplierModel.Name))
								{
									Title = T("Plugins.Misc.SupplierManager.Fields.Name").Text,
									Width = "300"
								},
								new ColumnProperty(nameof(SupplierModel.Email))
								{
									Title = T("Plugins.Misc.SupplierManager.Fields.Email").Text,
									Width = "300"
								},
								new ColumnProperty(nameof(SupplierModel.PhoneNumber))
								{
									Title = T("Plugins.Misc.SupplierManager.Fields.PhoneNumber").Text,
									Width = "150"
								},
								new ColumnProperty(nameof(SupplierModel.Address))
								{
									Title = T("Plugins.Misc.SupplierManager.Fields.Address").Text,
									Width = "300"
								},
								new ColumnProperty(nameof(SupplierModel.Id))
								{
									Title = T("Admin.Common.Edit").Text,
									Width = "50",
									ClassName = NopColumnClassDefaults.Button,
									Render = new RenderButtonEdit(new DataUrl("~/Admin/SupplierManager/Edit"))
								}
							}
						})
					</div>
				</nop-card>
			</nop-cards>
		</div>
	</div>
</section>
